@import 'ualib/variables.less';
/*
a:not([href^=@{github-domain}]):after,
a:not([href^=@{ualib-domain}]):after {
  content: "\f08e";
  font-family: FontAwesome;
  font-size: .75em;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}*/


a[href^="http"]:after,
a[href^="https"]:after{
  content: @icon-ext-link;
  font-family: FontAwesome;
  font-size: .75em;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}

.nav{
  li > a > .fa {
    margin-right: 5px;
  }
}