<!DOCTYPE html>
<html>
    <head>
        <title>UA Libraries Styles and Styleguide</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500|Oxygen:400,700,300|Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="<%= dir.dist %>/<%= pkg.name %>.css">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container-fuild">
                <h1><%= pkg.description %></h1>
                <p>Not much here right now. You're probably looking for the <a href="styleguide">styleguide</a>.</p>
            </div>
        </div>
    </body>
</html>